.registercontainer {
    display: flex !important;
    flex-direction: column;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  .registerform {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    margin-top: 25px !important;
  }
   
  .fluid.ui.button.blue {
    margin-top: 50px !important;
    background: #0563b4 !important;
  }
  .message {
    color: red;
  }